    /*body background color*/
    body {
      background-image: url("../images/bg.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
      background-image: url("../images/banner2.jpg");
      background-size: cover;

      background-repeat: no-repeat;
      color: white;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }

    .overlay{
      background-color: rgba(255, 255, 255, 0.5);
      margin: 40px;
      padding-top: 40px;
    }